<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757153338890-3r4ma87uah2qio7qj4l3umlnhq21ovqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757153338890-3r4ma87uah2qio7qj4l3umlnhq21ovqr</string>
	<key>API_KEY</key>
	<string>AIzaSyARrjfU-srlgqlgZBcTRcSMk9Nbu3Q3kic</string>
	<key>GCM_SENDER_ID</key>
	<string>757153338890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nasver.luvdub</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>PROJECT_ID</key>
	<string>loveduk-539e3</string>
	<key>STORAGE_BUCKET</key>
	<string>loveduk-539e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:757153338890:ios:7f17bac72235f9213731f3</string>
</dict>
</plist>
